# Editor & IDE
.idea/
.vscode/
__pycache__/
*.pyc

# Python env artifacts
.venv/
.env
.env.*
!.env.example

# Local generated runtime data
data/
logs/
releases/
Backups/

# OS / misc
*.log

# Local binaries
ngrok/
*.exe
*.dll
*.bat
*.so
