############################################
# Editor & IDE
.idea/
.vscode/
__pycache__/
*.pyc

############################################
# Local data, logs, checkpoints
data/
logs/
Backups/
releases/
*.csv
*.xlsx
*.npz
*.json
*.txt
*.html

############################################
# Binaries & executables
*.exe
*.dll
*.bat
*.so

############################################
# Misc
ngrok/
*.log
